@model CoreWebAppMVC.Models.Order

@{
    ViewData["Title"] = "Create";
}

h1>Create Order</h1>

<form asp-action="Create" method="post">
    <div>
        <label asp-for="OrderDate"></label>
        <input asp-for="OrderDate" class="form-control" />
    </div>

    <div>
        <label asp-for="AgentID"></label>
        <select asp-for="AgentID" asp-items="@(new SelectList(ViewBag.AgentList, "Value", "Text"))" class="form-control">
            <option value="">-- Select Agent --</option>
        </select>
    </div>

    <hr />
    <h4>Order Details</h4>
    <div id="orderDetailsContainer">
        <div class="order-detail-row">
            <select name="OrderDetails[0].ItemID" class="form-control item-select">
                @foreach (var item in (SelectList)ViewBag.ItemList)
                {
                    <option value="@item.Value">@item.Text</option>
                }
            </select>
            <input name="OrderDetails[0].Quantity" placeholder="Quantity" class="form-control" />
            <input name="OrderDetails[0].UnitAmount" placeholder="Unit Price" class="form-control" />
            <button type="button" class="btn btn-danger remove-row">Remove</button>
        </div>
    </div>

    <button type="button" id="addDetailRow" class="btn btn-secondary">Add Item</button>

    <hr />
    <button type="submit" class="btn btn-primary">Save Order</button>
</form>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        let detailIndex = 1;

        $('#addDetailRow').click(function () {
            const itemSelectHtml = $('.item-select:first').html();
            const newRow = `
            <div class="order-detail-row">
                <select name="OrderDetails[${detailIndex}].ItemID" class="form-control item-select">
                    ${itemSelectHtml}
                </select>
                <input name="OrderDetails[${detailIndex}].Quantity" placeholder="Quantity" class="form-control" />
                <input name="OrderDetails[${detailIndex}].UnitAmount" placeholder="Unit Price" class="form-control" />
                <button type="button" class="btn btn-danger remove-row">Remove</button>
            </div>`;
            $('#orderDetailsContainer').append(newRow);
            detailIndex++;
        });

        $(document).on('click', '.remove-row', function () {
            $(this).closest('.order-detail-row').remove();
        });
    </script>
}