@{
    ViewBag.Title = "Home Page";
}

<main>
    

    <<div class="row mt-4">
        <section class="col-md-3">
            <h3>Agents</h3>
            <p>Manage sales agents in the system.</p>
            <p>@Html.ActionLink("View Agents", "Index", "Agents", new { }, new { @class = "btn btn-primary btn-block" })</p>
        </section>
        <section class="col-md-3">
            <h3>Items</h3>
            <p>Manage products available for orders.</p>
            <p>@Html.ActionLink("View Items", "Index", "Items", new { }, new { @class = "btn btn-primary btn-block" })</p>
        </section>
        <section class="col-md-3">
            <h3>Orders</h3>
            <p>View and create customer orders.</p>
            <p>@Html.ActionLink("View Orders", "Index", "Orders", new { }, new { @class = "btn btn-primary btn-block" })</p>
        </section>
        <section class="col-md-3">
            <h3>Reports</h3>
            <p>Generate reports on sales and best-selling items.</p>
            <p>@Html.ActionLink("View Reports", "Index", "Reports", new { }, new { @class = "btn btn-primary btn-block" })</p>
        </section>
    </div>
</main>